{% block body %}
  <h2>Generowanie grafów</h2>
  <head>
    <meta charset="UTF-8">
    <title>Generowanie modeli</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>

<script>
    $(function() {
    $('select').change(function() {
        var val = $(this).val();
        if (val) {
            $('div:not(#div' + val + ')').slideUp();
            $('#div' + val).slideDown();
        } else {
            $('div').slideDown();
        }
    });
});
</script>

<select>
    <option>

    </option>
    <option value="1">Model Barabasi-Albert</option>
    <option value="2">Model Watts-Strogatz</option>
    <option value="3">Model Erdo-Renyi</option>

</select>
<div id="div1"  style="width:400px; text-align: justify">
      <form action="/" method=post>
          Biblioteka NetworkX udostępnia generowanie losowych grafów z uwzględnieniem modelu Barabasi-Albert. W tym modelu występują preferencyjne dołączenia.
          Graf składający się z n wierzchołków rośnie poprzez dodawanie do każdego z nich m krawędzi, które są preferencyjnie dodawane do istniejących wierzchołków z najwyższym stopniem.

    <dl>
      <input type=number name=model value="1" style="visibility: hidden">
      <dt>n (int):
      <dd><input type=number name=number_of_nodes>
      <dt>m (int):
      <dd><input type=number name=number_of_edges>
      <dt>Ziarno (int, nie wymagane)
      <dd><input type=number name=seed>
      <dd><input type=submit value=Generuj>
    </dl>
  </form>
</div>

<div id="div2"  style="width:400px; text-align: justify">
      <form action="/" method=post>
          Biblioteka NetworkX udostępnia generowanie losowych grafów z uwzględnieniem modelu Watts-Strogatz. Tworzony jest cykl składający się z n wierzchołków.
          Każdy z wierzchołków jest połączony z najbliższymi k sąsiadami (lub k-1 sąsiadami, jeżeli k jest nieparzyte). Następnie przekablowania są tworzone poprzez zmiany istniejących krawędzi.
          Każda krawędź (u, v) w grafie pierścieniowym z prawdopodobieństwem p zmieniana jest na nową krawędź (u, v) z losowo wybranym istniejącym wierzchołkiem w.
    <dl><input type=number name=model value="2" style="visibility: hidden">

      <dt>n (int):
      <dd><input type=number name=number_of_nodes>
      <dt>k (int):
      <dd><input type=number name=number_of_neighbors>
      <dt>p (float):
      <dd><input type=number step="0.01" min=0 max=1 name=propability>
      <dt>Ziarno (int, nie wymagane)
      <dd><input type=number name=seed>
      <dd><input type=submit value=Generuj>
    </dl>

  </form>
</div>

<div id="div3" style="width:400px; text-align: justify">
      <form action="/" method=post>
          Biblioteka NetworkX udostępnia generowanie losowych grafów z uwzględnieniem modelu Erdo-Renyi.
          Zwracany jest losowy graf o n wierzchołkach, w którym każda możliwa krawędź tworzona jest z prawdopodobieństwem p.
    <dl>
      <input type=number name=model value="3" style="visibility: hidden">
      <dt>n (int):
      <dd><input type=number name=number_of_nodes>
      <dt>p (float):
      <dd><input type=number step="0.01" min=0 max=1 name=propability>
      <dt>Ziarno (int, niewymagane):
      <dd><input type=number name=seed>
      <dd><input type=submit value=Generuj>
    </dl>

  </form>
</div>


{% endblock %}